<h1>Edit location <%= @location["location_title"] %></h1>

<%= form_tag("locations/update/#{@location['id']}", method: "patch") do %>
	<%= label_tag(:q, "Search for:") %>
	<%= text_field_tag(:q) %>


	<% submit_tag("Update") %>
<% end %>